@font-face {
  font-family: "Avenir";
  src: url(../fonts/Avenir-Roman.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url(../fonts/Avenir-Oblique.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Avenir";
  src: url(../fonts/Avenir-Heavy.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: url(../fonts/Avenir-HeavyOblique.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Noe Display";
  src: url(../fonts/noe-display-bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Noe Display";
  src: url(../fonts/noe-display-bold-italic.ttf);
  font-weight: bold;
  font-style: italic;
}
h1, h2, h3, h4, h5{
	font-family: "Noe Display", serif;
	font-weight: bold;
}
h4{
	font-size: 18px;
	line-height: 1.4;
	font-family: "Avenir", san-serif;
	font-weight: 500;
}
body{
	font-family: "Avenir", san-serif;
	padding-top: 0;
	padding-bottom: 0;
	width: 1440px;
	max-width: 1440px;
	color: #122842;
}

body a:hover{
	text-decoration: underline;
	color: #FF5E5B;
}

html{
	scroll-behavior: smooth;
}

.btn{
	border-radius: 2px;
}

.navbar{
	height: 80px;
	width: 1440px;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	     -o-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	        transition: all .5s ease;
	padding: .5rem 1rem !important;
}

.navbar-brand{
	-webkit-mask-image: url(../img/journy-logo.svg);
	mask-image: url(../img/journy-logo.svg);
	background-color: #fff;
	font-size: 0;
	width: 76px;
	height: 34px;
}

.navbar-dark{
	background-color:rgba(0, 0, 0, .1);
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark a.call {
	color: #ffffff;
}

.navbar-dark .btn-outline-primary {
  color: #FF5E5B;
  border-color: #FF5E5B;
}

.navbar .btn-sm{
	padding: 0.5rem 1rem;
}

.navbar a.call{
	text-decoration: underline;
	padding-right: 2rem;
}

.navbar-light{
	background-color: #ffffff;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand, .navbar-light a.call {
	color: #122842;
}

.navbar-light .navbar-brand{
	background-color: #122842;
}
.navbar-light .btn-outline-light{
  color: #fff;
  border-color: #FF5E5B;
  background-color: #FF5E5B ;
}

.navbar-light .btn-outline-light:hover{
  color: #fff;
  border-color: #122842;
  background-color: #122842 ;
}

#media .carousel-indicators li:not(.active){
	opacity: .3;
}

.hero1{
	background-image: url(../img/hero/hero-bg1.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
}
.hero2{
	background-image: url(../img/hero/hero-bg2.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
}
.hero3{
	background-image: url(../img/hero/hero-bg3.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
}
.hero4{
	background-image: url(../img/hero/hero-bg4.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
}
.hero5{
	background-image: url(../img/hero/hero-bg5.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
}
.hero6{
	background-image: url(../img/hero/hero-bg6.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
}
.btn{
	font-size: 14px;
	font-weight: 500;
}

.btn:not(.btn-link){
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}


.btn:not(.btn-sm){
	padding: 15px 30px;
}

.carousel{
	margin-bottom: 0rem;
}


.carousel-static{
	top: 420px;
	left: 130px;
	z-index: 10;
	color: #ffffff;
	position: absolute;
}

.carousel-static p{
	margin-bottom: 2rem;
}



#hero .carousel-caption{
	bottom: 369px;
	left: 130px;
}

#hero .carousel-caption h1{
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

#hero .carousel-caption p{
	font-size: 18px;
}

#hero .carousel-item{
	height: 800px;
}
#hero .carousel-control-next-icon{
	background-image: url(../img/hero/hero-carousel-button.png);
	background-size: contain;
	width: 50px;
	height: 50px;
}



.btn-group-lg>.btn, .btn-lg{
	border-radius: 2px;
}

a{
	color: #FF5E5B;
}

.btn-primary{
	background-color: #FF5E5B;
	border-color: #FF5E5B;
}
.btn-primary:not(.btn-reverse):hover, .btn-primary:not(.btn-reverse):active, .btn-primary:not(:disabled):not(.disabled):active{
	background-color: #122842;
	border-color: #122842;
}

.btn-primary.btn-reverse:hover, .btn-primary.btn-reverse:active, .btn-primary.btn-reverse:not(:disabled):not(.disabled):active{
	background-color: #fff;
	border-color: #fff;
	color: #FF5E5B;
}

#media{
	height: 250px;
}
#media .carousel-item{
	height: 250px;
	transition: -webkit-transform 0.5s ease-in-out;
	transition: transform .5s ease-in-out;
	transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out;
}
#media.carousel{
	background: #F5F8FC;
}

#media .carousel-caption{
	color: #122842;
	bottom: 80px;
	padding-top:0;
	width: 780px;
	margin: 0 auto;
	vertical-align: middle;
}

#media .carousel-indicators li{
	width: 85px;
	height: 27px;
	margin-right: 50px;
	background: none;
	transition: opacity .1s ease;
}
#media .carousel-indicators li:nth-child(1){
	background-image: url(../img/media/travel-leisure.svg);
	background-repeat: no-repeat;
	width: 85px;
	height: 27px;
}
#media .carousel-indicators li:nth-child(2){
	background-image: url(../img/media/cool-hunting.svg);
	background-repeat: no-repeat;
	width: 75px;
	height: 28px;
}
#media .carousel-indicators li:nth-child(3){
	background-image: url(../img/media/mashable.svg);
	background-repeat: no-repeat;
	width: 117px;
	height: 20px;
}
#media .carousel-indicators li:nth-child(4){
	background-image: url(../img/media/techcrunch.svg);
	background-repeat: no-repeat;
	width: 124px;
	height: 17px;
}
#media .carousel-indicators li:nth-child(5){
	background-image: url(../img/media/time.svg);
	background-repeat: no-repeat;
	width: 76px;
	height: 24px;
}
#media .carousel-indicators li:nth-child(6){
	background-image: url(../img/media/martha-stewart.svg);
	background-repeat: no-repeat;
	width: 124px;
	height: 32px;
}
#media .carousel-indicators li:nth-child(7){
	background-image: url(../img/media/wsj.svg);
	background-repeat: no-repeat;
	width: 49px;
	height: 25px;
}

.homepage-bottom{
	background-image: url(homepage-bottom.jpg);
	background-size: 100%;
	width: 1440px;
	height: 5904;
}
#howitworks{
	background-image: url(../img/howitworks/howitworks.jpg);
	background-size: 100%;
	width: 1440px;
	height: 961px;
	position: relative;
	background-repeat:no-repeat;
}

#howitworks1-video{
	opacity: 0;
}
.howitworks1{
	background-image: url(../img/howitworks/howitworks1.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 320px;
	height: 353px;
	position: absolute;
	top:  197px;
	left: 160px;
}
.howitworks1:hover{
	background-image: url(../img/howitworks/Step1-V2.gif);
	background-position-y: -91px;
	background-size: 130%;
	background-position-x: -48px;
}
.howitworks2{
	background-image: url(../img/howitworks/howitworks2.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 336px;
	height: 334px;
	position: absolute;
	top: 198px;
	left: 551px;
}
.howitworks2:hover{
	background-image: url(../img/howitworks/Step2-V2.gif);
	background-repeat: no-repeat;
    background-position-y: -70px;
    top: 207px;
    background-size: 110%;
    background-position-x: -10px;
}
.howitworks3{
	background-image: url(../img/howitworks/howitworks3.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 274px;
	height: 360px;
	position: absolute;
	left: 962px;
	top: 194px;
}
.howitworks3:hover{
	background-image: url(../img/howitworks/Step3-V1.gif);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-y: -10px;
    background-position-x: -30px;
}

.nav-link{
	font-size: 14px;
}

.navbar-brand{
	margin-right: 3rem;
}

.navbar-expand-md .navbar-nav .nav-link{
	padding-right: 1rem;
	padding-left: 1rem;
}


#testimonials{
	width: 1440px;
	height: 980px;
	position: relative;
}

#testimonials .carousel-item{
	height: 980px;
	transition: -webkit-transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out,-webkit-transform 1s ease-in-out;
}
.testimonial{
	width: 1440px;
	height: 980px;
	position: relative;
}

.testimonial1-map{
	width: 780px;
	height: 404px;
	background-image: url(../img/testimonials/zach-itinerary-map.png);
	background-size: 100%;
	background-repeat:no-repeat;
	left: 530px;
	position: absolute;
	top: 176px;
}
.testimonial1-button{
	width: 188px;
	height: 50px;
	background-image: url(../img/testimonials/zach-itinerary-button.png);
	background-size: 100%;
	background-repeat:no-repeat;
	left: 130px;
	position: absolute;
	top: 840px;
}
.testimonial2-map{
	width: 780px;
	height: 404px;
	background-image: url(../img/testimonials/julia-itinerary-map.png);
	background-size: 100%;
	background-repeat:no-repeat;
	left: 530px;
	position: absolute;
	top: 176px;
}
.testimonial2-button{
	width: 188px;
	height: 50px;
	background-image: url(../img/testimonials/julia-itinerary-button.png);
	background-size: 100%;
	background-repeat:no-repeat;
	left: 130px;
	position: absolute;
	top: 885px;
}
.testimonial1{
	background-image: url(../img/testimonials/testimonial1.jpg);
	background-size: 100%;
	background-repeat:no-repeat;
}
.testimonial2{
	background-image: url(../img/testimonials/testimonial2.jpg);
	background-size: 100%;
	background-repeat:no-repeat;
}

#testimonials .carousel-control-next-icon{
	background-image: url(../img/testimonials/testimonials-carousel-button-next.png);
	background-size: contain;
	width: 50px;
	height: 50px;
	margin-left: 50px;
}

#testimonials .carousel-control-prev-icon{
	background-image: url(../img/testimonials/testimonials-carousel-button-prev.png);
	background-size: contain;
	width: 50px;
	height: 50px;
	margin-left: -50px;
}
.btn-outline-secondary {
    color: #122842;
    border-color: #122842;
    background-color: #fff;
}

.btn-outline-secondary:hover, .btn-outline-secondary:active, .btn-outline-secondary:not(:disabled):not(.disabled):active{
	background-color: #122842;
	border-color: #122842;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus{
	box-shadow: none;
}

.testimonial1 .btn-outline-secondary{
	left: 130px;
	top: 840px;
	position: absolute;
}

.testimonial2 .btn-outline-secondary{
	left: 130px;
	top: 885px;
	position: absolute;
}

#experts{
	background-image: url(../img/experts.jpg);
	background-size: 100%;
	width: 1440px;
	height: 900px;
	position: relative;
	background-repeat:no-repeat;
}
.meet-experts{
	left: 230px;
	top: 730px;
	position: absolute;
}
.meet-team{
	left: 830px;
    top: 730px;
	position: absolute;
}
#why{
	background-image: url(../img/why.jpg);
	background-size: 100%;
	width: 1440px;
	height: 649px;
	position: relative;
	background-repeat:no-repeat;
}
#pricing{
	background-image: url(../img/pricing.jpg);
	background-size: 100%;
	width: 1440px;
	height: 1000px;
	position: relative;
	background-repeat:no-repeat;
}
#pricing .journy-lite{
	left: 372px;
	top: 354px;
	position: absolute;
}

#pricing .journy-full{
	left: 763px;
    top: 354px;
	position: absolute;
}

#pricing .free-advice{
	left: 639px;
    top: 840px;
	position: absolute;
}

.btn-outline-secondary.focus, .btn-outline-secondary:focus{
	box-shadow: none;
}

#faq{
	padding: 90px 0;
	background-color: #F5F8FC;
	width: 1440px;
	min-height: 690px;
	position: relative;
}

#faq-content{
	max-width: 780px;
	margin: 0 auto;
	margin-top: 30px;
}

#faq .plus{
	background-image: url(../img/faq/plus.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 20px;
	height: 20px;
	position: absolute;
	height: 20px;
	right: 0;
	top: 30px;
}

#faq .plus:not(.collapsed){
	background-image: url(../img/faq/minus.png);
}

#faq .card{
	background: none;
	border: none;
	border-bottom: 1px solid rgba(18, 40, 66, .2);
}

#faq .card:last-of-type {
	border-bottom: none;
	margin-bottom: 30px;
}

#faq .card-header{
	background: none;
	border: none;
	padding: .75rem 0rem;
}

#faq .card-body{
  padding: 0 0 2rem 0;
	max-width: 700px;
	color: #122842;
}
#faq .btn-link{
	color: #122842;
	font-weight: 400;
	font-size: 16px;
	padding: 1rem 0;
}

#faq .btn-link:not(.collapsed){
	font-weight: 500;
}
#special-occasions{
	background-image: url(../img/special-occasions.jpg);
	background-size: 100%;
	width: 1440px;
	height: 835px;
	position: relative;
	background-repeat:no-repeat;
}
#inspirations{
	background-image: url(../img/inspirations.jpg);
	background-size: 100%;
	width: 1440px;
	height: 542px;
	position: relative;
	background-repeat:no-repeat;
}
.inspirations-destination{
	width: 180px;
	height: 240px;
	display: inline-block;
}

.inspirations-japan{
	background-image: url(../img/inspirations/japan.png);
	background-size: 100%;
	background-repeat:no-repeat;
	left: 130px;
	top: 212px;
	position: absolute;
}

.inspirations-italy{
	background-image: url(../img/inspirations/italy.png);
	background-size: 100%;
	background-repeat:no-repeat;
	left: 331px;
	top: 212px;
	position: absolute;
}

.inspirations-spain{
	background-image: url(../img/inspirations/spain.png);
	background-size: 100%;
	background-repeat:no-repeat;
	left: 530px;
	top: 212px;
	position: absolute;
}

.inspirations-taiwan{
	background-image: url(../img/inspirations/taiwan.png);
	background-size: 100%;
	background-repeat:no-repeat;
	left: 730px;
	top: 212px;
	position: absolute;
}

.inspirations-greece{
	background-image: url(../img/inspirations/greece.png);
	background-size: 100%;
	background-repeat:no-repeat;
	left: 930px;
	top: 212px;
	position: absolute;
}

.inspirations-austria{
	background-image: url(../img/inspirations/austria.png);
	background-size: 100%;
	background-repeat:no-repeat;
	left: 1130px;
	top: 212px;
	position: absolute;
}

#ready{
	background-image: url(../img/ready/ready.jpg);
	background-size: 100%;
	width: 1440px;
	height: 391px;
	position: relative;
	background-repeat:no-repeat;
}
#ready .get-started{
	left: 231px;
	top: 251px;
	position: absolute;
}

.ready-itinerary{
	background-image: url(../img/ready/ready-itinerary.jpg);
	background-size: 100%;
	width: 480px;
	height: 474px;
	position: relative;
	background-repeat:no-repeat;
	left: 730px;
	top: 63px;
}
#ready-itinerary-video{
	width: 600px;
	height: auto;
	margin-top: 157px;
	margin-left: -60px;
}
/*.ready-itinerary:hover{
	background-image: url(../img/ready/20190319_Journy_Day_View.mp4);
}*/
#not-ready{
	background-image: url(../img/not-ready.jpg);
	background-size: 100%;
	width: 1440px;
	height: 374px;
	position: relative;
	background-repeat:no-repeat;
}
#not-ready .sample-itinerary{
	left: 623px;
	top: 234px;
	position: absolute;
}

#sample-itinerary-modal .modal-dialog{
	max-width: 725px;
}
#sample-itinerary-modal .modal-header{
	border-bottom: none;
}
#sample-itinerary-modal .modal-content{
	width: 725px;
	height: 519px;
	background-image: url(../img/sample-itinerary-popup.png);
	background-repeat:no-repeat;
	background-size: contain;
	background-color: rgba(255,255,255,0);
	border: none; 
    border-radius: 0; 
}
.modal-backdrop{
	background-color: #fff;
}


#sample-itinerary-modal .modal-dialog .close{
	background-image: url(../img/modal-close.png);
	background-repeat:no-repeat;
	background-size: contain;
	width: 21px;
	height: 21px;
	left: -25px;
	position: relative;
	top: 18px;
}

#sample-itinerary-modal .modal-dialog .close span{
	display: none;
}
#sample-itinerary-modal.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

#footer{
	background-image: url(../img/footer.jpg);
	background-size: 100%;
	width: 1440px;
	height: 488px;
	position: relative;
	background-repeat:no-repeat;
}
